#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.qoute-wrapper{
  width: 500px;
  height: 200px;
  background: white;
  padding: 15px 10px;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}